@import "variables";
@import "bootstrap/scss/mixins/breakpoints";

$green: #095f59;
$yellow: #ffd881;
$red: #D11149;

.statistics-block {
  box-shadow: 0 16px 20px -6px rgba(44, 44, 67, 0.1);
  border-radius: 12px;
  padding: 16px 16px;

  .icon {
    background-color: white;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 12px;
  }

  .amount {
    font-weight: 500;
    font-size: 2rem;
    color: white;
  }

  &.green {
    background-color: $green;

    .icon {
      color: $green;
    }

    .title {
      color: rgba(#fff, .8);
    }
  }

  &.yellow {
    background-color: $yellow;

    .icon {
      color: darken($yellow,5);
    }

    .amount {
      color: $body-color;
    }

    .title {
      color: rgba($body-color, .8);
    }
  }

  &.red {
    background-color: $red;

    .icon {
      color: $red;
    }

    .title {
      color: rgba(#fff, .8);
    }
  }

  @include media-breakpoint-up(xl) {
    min-width: 180px;
  }
}
