@import "variables";
@import "bootstrap/scss/mixins/breakpoints";

.statistics-block {
  box-shadow: $box-shadow;
  border-radius: 12px;
  padding: 16px;
  @include media-breakpoint-down(sm){
    padding: 10px;
  }

  .icon-container {
    font-size: 1.1rem;
    background-color: white;
    padding: 8px;
    border-radius: 6px;
    @include media-breakpoint-down(sm){
      padding: 6px;
    }
    @include media-breakpoint-up(sm){
      margin-bottom: 12px;
    }
  }

  .amount {
    font-weight: 500;
    color: white;
    font-size: 2rem;
    @include media-breakpoint-down(sm){
      font-size: 1.2rem;
    }
  }

  &.green {
    background-color: $green-dark;

    .icon-container {
      color: $green-dark;
    }

    .title {
      color: rgba(#fff, .8);
    }

    @include media-breakpoint-up(md) {
      min-width: 230px;
    }
  }

  &.yellow {
    background-color: $yellow;

    .icon-container {
      color: darken($yellow, 15);
    }

    .text-darker {
      color: rgba($body-color, .85);
    }

    .title {
      color: rgba($body-color, .8);
    }
  }

  &.red {
    background-color: $red;

    .icon-container {
      color: $red;
    }

    .title {
      color: rgba(#fff, .8);
    }
  }

  @include media-breakpoint-up(md) {
    min-width: 180px;
  }
}

.toggle-icon {
  font-size: 1.5rem;
  padding-top: 0.55rem;
}
