<div *ngIf="statistics" class="container">
  <div class="row pt-5 gap-2">
    <div class="col-auto">
      <div class="statistics-block green">
        <div class="icon d-inline-flex align-items-center justify-content-between">
          <i class="fa-solid fa-money-bill-wave"></i>
        </div>
        <div class="amount">{{ statistics.totalValue | currency:'CAD':'symbol':'1.0-0' }}</div>
        <div class="title">Total value</div>
      </div>
    </div>
    <div class="col-auto">
      <div class="statistics-block yellow">
        <div class="icon d-inline-flex align-items-center justify-content-between">
          <i class="fa-solid fa-plus"></i>
        </div>
        <div class="amount">{{ statistics.totalItems }}</div>
        <div class="title">Total bikes</div>
      </div>
    </div>
    <div class="col-auto">
      <div class="statistics-block red">
        <div class="icon d-inline-flex align-items-center justify-content-between">
          <i class="fa-solid fa-exclamation-triangle"></i>
        </div>
        <div class="amount">{{ statistics.outOfStock }}</div>
        <div class="title">Out of stock</div>
      </div>
    </div>
  </div>
</div>
