<a [routerLink]="[bike.id]" class="inventory-list-item py-2 px-3 mb-1 rounded-2 d-block a-unstyled">
  <div class="row align-items-center justify-content-between gx-4">
    <div class="col-auto d-flex gap-3 align-items-center">
      <div class="item-image">
        <img [ngSrc]="bike.image" width="60" height="34" alt="Diamondback Interurban 700c">
      </div>
      <div class="item-title">
        {{ bike.name }}
      </div>
    </div>
    <div class="col">
      <div class="row align-items-center justify-content-end gx-4">
        <div *ngIf="bike.category" class="col-auto">
          <i class="fa-solid fa-tag me-1 text-muted-light" matTooltip="Type" matTooltipPosition="above"
             matTooltipClass="tooltip-sm"></i>
          {{ bike.category.name }}
        </div>
        <div *ngIf="bike.price" class="col-auto">
          <i class="fa-solid fa-money-bill-wave me-1 text-muted-light" matTooltip="Price"
             matTooltipPosition="above" matTooltipClass="tooltip-sm"></i>
          {{ bike.price | currency:'CAD' }}
        </div>
        <div class="col-auto d-flex flex-row align-items-center">
          <i class="fa-solid fa-cubes me-2 text-muted-light" matTooltip="Quantity" matTooltipPosition="above"
             matTooltipClass="tooltip-sm"></i>
          <div class="quantity-badge flex-grow-0" [ngClass]="bike.stockQuantityColor">
            {{ bike.quantity_in_stock }}
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
