@import "variables";

snack-bar-container {
  color: white;

  .snackbar-text {
    margin-top: -1px; // optical alignment
    white-space: pre-wrap;
  }

  .close-icon-container {
    padding-left: 1.5rem;
    padding-right: .5rem;
  }
}
