@import "material";
@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body, html {
  height: 100%;
}

body {
  margin: 0;
}

.label-primary {
  font-weight: 500;
}

.bg-blue-dark {
  background-color: $blue-dark;
}

.text-muted-light {
  color: $gray-600 !important;
}

.a-unstyled {
  text-decoration: inherit;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.quantity-badge {
  padding: 3px 10px;
  border-radius: 12px;
  color: white;

  &.success {
    background-color: rgba($success, .7);
  }

  &.warning {
    background-color: rgba($warning, .7);
  }

  &.danger {
    background-color: rgba($danger, .7);
  }
}

.btn {
  border-radius: 4px;
  font-size: .9rem;
  font-weight: 500;

  &.btn-blue-light {
    background-color: $blue-light;
    color: white;

    &:hover, &:active, &:focus {
      background-color: darken($blue-light, 5);
    }
  }
}

.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    color: white;
  }
}

.snackbar-success {
  &.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface {
      background-color: $success;
    }
  }
}

.snackbar-warning {
  &.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface {
      background-color: $warning;
    }
  }
}

.snackbar-danger {
  &.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface {
      background-color: $danger;
    }
  }
}

.form-control {
  &.ng-invalid.ng-touched {
    border: 2px solid $danger;
  }
}
