$blue-light: #0088FF;
$blue-dark: #0d2538;
$blue-darker: #00192d;
$black: #1c1c1c;
$green-dark: #095f59;
$yellow: #ffd881;
$red: #D11149;
$gray-light: #EEF4FAFF;
$success: #00a489;
$warning: #ffca28;
$danger: $red;

$navbar-height: 80px;
$box-shadow: 0 16px 20px -6px rgba(44, 44, 67, 0.1);
$box-shadow-light: 0 16px 20px -6px rgba(44, 44, 67, 0.05);

// Bootstrap
$body-bg: $gray-light;
$enable-smooth-scroll: false;
$title-font-family: 'Heebo', sans-serif;
$font-family-base: 'Inter', sans-serif;
$body-color: $black;
$btn-padding-y: 5px;
$btn-padding-x: 15px;
$btn-border-radius: 12px;
$font-weight-bolder: 500;
$headings-font-weight: 600;
$h2-font-size: 22px;
$navbar-dark-bg: $blue-dark;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px
);

$display-font-sizes: (
  1: 4rem,
  2: 3.5rem,
  3: 3rem,
  4: 2.5rem,
  5: 2rem,
  6: 1.5rem
);
