@import "variables";

.bike-image-container {
  max-height: 300px;
  max-width: 432px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: $box-shadow;
  border: 1px solid $gray-300;
}

.quantity-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 1.3rem;
}
