<div class="navbar-container">
  <nav class="navbar navbar-fixed navbar-dark bg-blue-dark">
    <div class="container">
      <div class="d-flex w-100 justify-content-between">
        <a class="navbar-brand" routerLink="/">
          <img src="../../../assets/images/MyBikeStore_logo_3.png" alt="My Bike Store logo" class="logo">
        </a>
        <div class="d-flex gap-2 align-items-center">
          <a (click)="resetData()" class="btn btn-blue-dark">Reset <span
            class="d-none d-sm-inline-block">data</span></a>
          <a routerLink="/bike/add/" class="btn btn-blue-light">Add bicycle</a>
        </div>
      </div>
    </div>
  </nav>
</div>
