@import "variables";

.navbar {
  height: $navbar-height;

  .logo {
    height: calc($navbar-height - 16px - 10px);
  }

  &.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1020;
  }
}
