<div class="container">
  <div class="mb-3">
    <app-back-button></app-back-button>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mb-3">Diamondback Interurban 700c</h1>
    <div class="d-flex align-items-center gap-4 mb-3">
      Out of stock
      <button type="button" class="btn btn-blue-light">Edit bike</button>
    </div>
  </div>

  <div class="bg-white mt-2 mb-5 p-3 py-lg-5 px-lg-4 rounded-2">
    <div class="row gx-5">
      <div class="col-xl-3">
        <div class="item-image-xl mb-5">
          <img
            src="/assets/images/diamondback-interurban-700c-h-green-m--7d581001-ea4a-4a18-ad33-caab17ce1956-jpgrendition.jpg"
            alt="Diamondback Interurban 700c">
        </div>
        <div class="mb-2">
          <label class="label-primary">Quantity in stock</label>
          <div class="d-flex gap-2 mb-2 align-items-center">
            <button type="button" class="btn btn-primary quantity-btn">-</button>
            <div class="display-6">0</div>
            <button type="button" class="btn btn-primary quantity-btn">+</button>
          </div>
          <div class="mb-2">
            <label class="label-primary">Price</label>
            <div class="price-value">$0</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-2">
          <label class="label-primary">Mark</label>
          <div class="value">Diamondback</div>
        </div>
        <div class="mb-2">
          <label class="label-primary">Model</label>
          <div class="value">Interurban 700c</div>
        </div>
        <div class="mb-2">
          <label class="label-primary">Description</label>
          <p>Get around town in style on the Diamondback Interurban. With its clean lines and integrated rear rack,
            this urban bike features a lightweight aluminum frame and a blend of quality components that will take
            you where you need to go with a heightened sense of confidence. Due to supply availability components
            may be subject to change without notice.</p>
        </div>
        <div class="mb-2">
          <label class="label-primary">Bike type</label>
          <div class="value">Hybrid bike</div>
        </div>
        <div class="mb-2">
          <label class="label-primary">Battery</label>
          <div class="value">0 Wh</div>
        </div>
        <div class="mb-2">
          <label class="label-primary">Range</label>
          <div class="value">0 km</div>
        </div>
      </div>
    </div>
  </div>
</div>
